* {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  }



.header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: black;
    color: #ffffff;
}


/* Nav Bar */
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  }
  
  li {
    float: right;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }

  /* Grid */


  .grid-item1 {
    grid-area: myArea;
  }
  .grid-container {
    display: grid;
  grid-template-areas: 'myArea myArea';
  grid-gap: 10px;
  background-color: white;
  padding: 10px;
  background-size: cover;
  }

  .grid-item {
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 20px;
    font-size: 30px;
    text-align: center;
  }
    
  .grid-container > div {
    background-color: rgba(255, 255, 255, 0.8);
    text-align: center;
    padding: 20px 0;
    font-size: 30px;
  }

  img {
    height: 150px;
    width: 300px;
    object-fit: cover;
  }


    /* Footer */
  footer {
    background-color: black;
    color: white;
    text-align: center;
  }

  .contact {
    text-align: left;
  }

  a:link {
    color: white;
    background-color: transparent;
    text-decoration: none;
  }
  a:visited {
    color: white;
    background-color: transparent;
    text-decoration: none;
  }
  a:hover {
    color: white;
    background-color: transparent;
    text-decoration: underline;
  }
  a:active {
    color: white;
    background-color: transparent;
    text-decoration: underline;
  }








    /* Images 

    .products {
        padding: 20px;
        display: flex;
        flex-wrap: wrap;
       
    }

      .card header {
        padding: 20px;
      }
      
      .card p {
        text-align: center;
      }
      
      .card img {
        width: 300px;
        height: 150px;
      }
  

      img {
        object-fit: cover;
      }
