* {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding: 0; 
    margin: 0;
  }

  img {
    height: 250px;
    width: 100%;
    opacity: 0.5;
  }

  img:hover {
    opacity: 1;
  }
  
  .about-me {
    display: flex;
  }

  .about-me-image {
    height: auto;
    width: auto;
    opacity: 1;
    overflow-wrap: break-word;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    flex: 1 0 200px;
    width: 100%;
    box-sizing: content-box;
    object-fit: cover;

  }

  p {
    color: black;
    word-wrap: break-word;
    margin-left: 250px;
    display: flex;
    line-height: 1.6;
    display: flex;
    flex: 0 0 auto;
  }

  .hero {
    height: 100px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../images/praewthida-k-5Ui5glVjUAQ-unsplash.jpg");
    background-size: cover;
    background-position: center;

  }
  
/* Header */
.header {
    background-color: black;
    color: #ffffff;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 1%;
      height: 30px;
}

h1 {
  position: relative;
  margin: 40px;
}

h1 span {
  background-color: #F97D62;
}

h2 {
  color: #F97D62;
}

  /* Nav Bar */


nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color:black;
    color: white;
  }
  
  nav li {
    float: right;
    text-decoration: underline;
  }
  
  nav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
  }

/*Body*/


/*Flex*/
main {
  display: flex;
  flex-wrap: wrap;
  margin-top: 2%;
  flex-direction: row;
  margin-left: 240px;
}

.card {
  flex: 1 0 200px;
  padding: 10px;
  text-align: center;
  border-width: 1px;
}

.card header {
  padding: 20px;
  background: #F97D62;
  color: #fff;
  opacity: 0.5;
}

.card img {
  width: 100%;
  box-sizing: content-box;
  object-fit: cover;
}

.active {
  order: -1;
  flex: 1 0 100%;
}

    /* Footer */
  footer {
    background-color: white;
    text-align: center;
    padding: 0;
  }

    .contact a {
      color: #F97D62;
    }
    
    footer a {
      color: #F97D62
    }

  .contact {
    text-align: left;
  }
  
  .foot-text {
    margin-left: 250px;
  }
   /* Link Style */

  a:link {
    background-color: transparent;
    text-decoration: none;
  }
  a:visited {
    color: #F97D62;
    background-color: transparent;
    text-decoration: none;
  }
  a:hover {
    color: #F97D62;
    background-color: transparent;
    text-decoration: underline;
  }
  a:active {
    color: #F97D62;
    background-color: transparent;
    text-decoration: underline;
  }


 
